<form #transForm="ngForm" (ngSubmit)="onSubmit()">


  <label>Type</label>
  <input
  type="text"
  required="true"
  placeholder="type"
  class="form-control"
  name="type"
  ngModel
/>

<label class="col-sm-2 col-form-label">Duration</label>
<input
type="text"
class="form-control"
placeholder="duration"
required="true"
name="duration"
id="duration"
ngModel
#duration="ngModel"
/>

<div *ngIf="transForm.value.duration < 0" class="alert alert-danger">
  Duration should be greater than 0
</div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!transForm.valid">
      Save
    </button>
  </div>
</form>
